
.bg-wrapper{
    background: url('./imgs/BBD-1.jpg');
    background-repeat:no-repeat;
    height: 1024px;
    
    
    
}

.title{
    color: #fff;
    margin-top: 260px;
    text-align: center;
}

.content{
    font-family:Sans-serif;
    font-size: 50px;
    font-weight: 600;
}

/* second division */
.second{
    background: #F5F5F5;
    height: 600px;
    margin-top: -3.8rem;
}

.foundations{
    display: flex;
    flex-direction: column;    
    align-items: center;    
    gap: 1.1rem;
    margin-top: 3.8rem;
    height: 513.28px;
    width: 238.59px;
    background: #fff;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    border-radius: 10px;
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); 

}
.foundations-title{
    color: #212121;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.foundations-logos{
    margin-top: 1rem;
}
.foundations-content{
    color: #646464;
    font-family: sans-serif;
    font-size: 0.8rem;
    text-align: center;
}
/* logos */
#community{
    width: 160px;
    height: 80px;
}
#suitcase{
    width: 130px;
    height: 80px;
}
#medal{
    width: 80px;
    height: 80px;
}
#sus{
    width:125px;
    height: 80px;
}
#balance{
    width:126px;
    height:80px;
}

/* card hovering */
#community-card:hover{
    cursor: pointer;
    transition: all 0.6s;
    background: rgb(199, 241, 255);
}
#economy-card:hover{
    cursor: pointer;
    transition: all 0.6s;
    background: rgb(200, 231, 241);
}
#design-card:hover{
    cursor: pointer;
    transition: all 0.6s;
    background:lightgrey;
}
#sustainable-card:hover{
    cursor:pointer;
    transition: all 0.6s;
    background: lightgreen;
}
#balance-card:hover{
    cursor: pointer;
    transition: all 0.6s;
    background:lightpink;
}
/* end card hovering */

/* third */
.third{
    background-image:url('/imgs/Shared-Space-at-BDD.png') ;
    height: 450px;
    background-attachment:fixed ;
    position: relative;
}
#vid{
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    width:529px;
    height:297px;
}

/* fourth */
.fourth{
    margin-top:3rem;
}
.fouth-container{
    gap: 15px;
}
.card{
    position: relative;
    background: url('/imgs/bg-icon.png');
    background-repeat: o-repeat;
    height: 700px;
    width: 200px;
    border-radius:10px;
    box-sizing: border-box;
    overflow: hidden;
}
.card:hover{
    box-shadow:0 10px 10px rgba(0, 0, 0, 0.4), 0 7px 7px rgba(0,0,0,0.4)
}
#join-bdd{
    width: 440px;
    height: 360px;
}
.card-title{
    margin-top:25px;
    text-align: center;
    font-weight: bolder;
}
.custom-list{
    list-style-image: url('/logos/1bdb97fd-0c96-4794-b2a1-fa2bb42798ef.png');
    list-style-position: inside;
}
.custom-list>li{
    padding: 0.4rem;
    color: #646464;
    font-size: 1.2rem;
    height: 100%;
}
.know{
    position: absolute;
    bottom: 1.25rem;
    left:50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 15px;
    background: #0078BE;
    color: #fff;
    font-weight: 400;
    font-size: 0.8rem;
    padding:10px 15px;
    cursor: pointer;
}
.fourth-footer{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 3rem;
}
.store{
    margin-top:1rem;
    width: 212px;
    height: 63px;
}
/* fifth */
.fifth{
    background: url('/imgs/parallax-light.jpg');
    height: 350px;
    background-attachment:fixed ;
    position: relative;
}
.fifth-title {
    color: black; 
    font-size: 1.5rem; 
    font-weight: bolder; 
    text-align: center;
    padding: 3rem;
}
.fifth-logos {
    display: flex;
    justify-content: space-evenly;
}
/* sixth */
.sixth{
    background: url('/imgs/bg-icon-empty.png');
    height: 1340px;
}

.sixth-title{
    padding-top: 3rem;
    color: black;
    font-size: 1.7rem;
    font-weight: bolder;
    text-align: center;
}
.sixth-content{
    gap: 1.5rem;
    padding-top: 0.7rem;
}
.sixth-pic{
    width: 350px;
    height: 261px;
}
.sixth-card-1{
    height: 450px;
    background-color: #fff;
    max-width:350px;
}
.pic-content{
    color: black;
    font-weight: 800;
    padding: 1rem;
}
.sixth-date{
    font-size: 15px;
    color: #646464;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
}