*{
    margin: 0;
    padding: 0;
    font-size: 20px; /*So that 1rem=20px*/
}

/* reusables  */
nav{
    margin: 0rem 1rem 0rem 3rem;
    z-index: 5;
}

/* pushes down the links */
.nav-links{
    margin-top: 3rem;
}
.nav-links>ul>li{
    align-items: center;    
}
.nav-links>ul>li:hover:not(:has(.btn)){
    background: rgba(197, 196, 196, 0.5);
    transition: all 0.2s;
}
.nav-links>ul>li>a{
    list-style: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 13.6px;
}
a{  text-decoration: none;
    color: #fff;
}

/* library */
.flex{
    display: flex;
}
.coloumn{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.evenly{
    justify-content: space-evenly;
}
.arrow{
    display: inline-block;
    transform: rotate(90deg);
    font-size: 0.6rem;
    font-weight: 900;
    color: #fff;
}
.white{
    color: #fff;
}
/* end library */

.logo{
    margin-top:1rem ;
    width: 94px;
    height: 126.5px;
}
.logo:hover{
    cursor: pointer;
}
.btn{
    border: none;
    border-radius: 15px;
    background: #0078BE;
    padding:10px 14px;
    color: #fff;
    font-weight: 400;
    font-size: 0.8rem;
    margin-left: 0.8rem;
    cursor: pointer;
}
.justify-content-center{
    justify-content: center;
}
/* footer */
footer{
    height: 430px;
    background-color:#212121;
}
.footer-1{
    padding: 2rem;
}
.footer-1>p{
    padding: 0.25rem;
    color:#fff;
}
.stores{
    gap: 1rem;
}